<div class="{% if comment.depth is not 0 %}comment{% endif %} card border-0" id="comment_{{ comment.id }}">
  <div class="card-body">
    <h5 class="card-title">{{ comment.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ comment.created_at }}</h6>
    <div class="card-text">{{ comment.description|linebreaks }}</div>
    {% if comment.depth < 4 %}
      <button type="button" class="btn btn-link" onClick="checkId(this)">返信</button>
    {% endif %}
  </div>

  {% if comment.children %}
    {% for child in comment.children %}
      {% include "blog/comments.html" with comment=child %}
    {% endfor %}
  {% endif %}
</div>
