{% extends "admin/change_list.html" %}

{% block object-tools %}
  <div>
    <form action="command/cacheclear" method="GET">
      {% csrf_token %}
      <input type="submit" value="Cache Clear">
    </form>
  </div>
  <br />
  {{ block.super }}
{% endblock %}
