{% extends "blog/base.html" %}

{% block title %}
  contact
{% endblock %}

{% block body %}
  <p>お名前、お問い合わせタイトル、連絡先、問い合わせ内容を入れて"送信"をクリックしてください</p>
  <hr>
  <div>
    {% include "blog/form.html" with form=form%}
  </div>
{% endblock %}
