{% extends "blog/base.html" %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block body %}
  {# 記事の表示 #}
  <div>
    <h1>{{ article.title }}</h1>
    <p>{{ article.created_at|date:"Y年m月d日" }} viewed: {{ article.counter }}
      {% for tag in article.tags.all %}
        <a href="/articles/?q={{ tag.name }}"><span class="badge badge-info">{{ tag.name }}</span></a> 
      {% endfor %}
    </p>
    <div class="content">
      {{ article.formatted_markdown|safe }}
    </div>
  </div>

  {# 各コメントの表示 #}
  <div>
    <h2>comments</h2>
    {% for comment in comments %}
      {% include "blog/comments.html" %}
    {% endfor %}
  </div>

  {# コメントフォーム #}
  <div id="comment_form_div">
    <br>
    <h3>your comment</h3>
    {% include "blog/form.html" with form=form%}
  </div>

  {# 前後ページの表示 #}
  <div class="row">
    <div class="col-sm-6">
      <div class="card border-0">
        <div class="card-body">
          {% if article.get_prev_article %}
            <a class="card-text" href="{{ article.get_prev_article.get_absolute_url }}">&lt; {{ article.get_prev_article }}</a>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card border-0">
        <div class="card-body text-right">
          {% if article.get_next_article %}
            <a class="card-text" href="{{ article.get_next_article.get_absolute_url }}">{{ article.get_next_article }} &gt;</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {# 関係ページの表示 #}
  {% if similars %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">類似ページ</h5>
        <ol>
          {% for similar in similars %}
            <li><a href="{{ similar.get_absolute_url }}">{{ similar.title }}</a></li>
          {% endfor %}
        </ol>
      </div>
    </div>
  {% endif %}
{% endblock %}
