{% load cache %}
{% cache 86400 footer %} {# 一日キャッシュ #}

<footer class="blog-footer">

  <div class="card-deck">
    {# 人気ページの表示 #}
    <div class="card border-0 footer-pages">
      <div class="card-body">
        <h5 class="card-title">人気ページ</h5>
        {% for popular in populars %}
          <p class="card-text"><a href="{{ popular.get_absolute_url }}">{{ popular.title }}</a></p>
        {% endfor %}
      </div>
    </div>

    {# 最新ページの表示 #}
    <div class="card border-0 footer-pages">
      <div class="card-body">
        <h5 class="card-title">最新ページ</h5>
        {% for latest in latests %}
          <p class="card-text"><a href="{{ latest.get_absolute_url }}">{{ latest.title }}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <br>
  <p class="text-center">
    <a href="#">Back to top</a>
  </p>
</footer>

{% endcache %}
