{% extends "blog/base.html" %}

{% block title %}
  記事一覧
{% endblock %}

{% block body %}
  {% for article in articles %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ article.get_absolute_url }}">{{ article }}</a></h5>
        <p>{{ article.created_at|date:"Y年m月d日" }} viewed: {{ article.counter }}
          {% if article.tags.all %}
            {% for tag in article.tags.all %}
              <a href="/articles/?q={{ tag.name }}"><span class="badge badge-info">{{ tag.name }}</span></a> 
            {% endfor %}
          {% endif %}
        </p>
      </div>
    </div>
    <br>
  {% endfor %}
  {% include "blog/pagination.html" %}
{% endblock %}
