<div class="mx-auto" style="width: 200px;">
  <nav aria-label="Page navigation mx-auto">
    
    {# 総ページ数が5個以内の場合はすべて表示させる #}
    {% if 1 < paginator.num_pages and paginator.num_pages <= 5 %}
      <ul class="pagination">
        {% for i in paginator.page_range %}
          <li class="page-item"><a class="page-link" href="?{{ q }}&page={{ i }}">{{ i }}</a></li>
        {% endfor %}
      </ul>

    {# 総ページ数が5個以上の場合は表示ページ数を5個にする #}
    {% elif 5 < paginator.num_pages %}
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?{{ q }}&page=1">1</a></li>
        {% if page_obj.number < 4 %}
          {# show: 1|2|3|4 >> last #}
          <li class="page-item"><a class="page-link" href="?{{ q }}&page=2">2</a></li>
          <li class="page-item"><a class="page-link" href="?{{ q }}&page=3">3</a></li>
          <li class="page-item"><a class="page-link" href="?{{ q }}&page=4">4</a></li>
          <li class="page-item"><a class="page-link">&raquo;</a></li>
        {% elif paginator.num_pages|add:'-3' < page_obj.number %}
          {# show: 1 << last-3|last-2|last-1|last #}
          <li class="page-item"><a class="page-link">&laquo;</a></li>
          <li class="page-item"><a class="page-link" href="?{{ q }}&page={{ paginator.num_pages|add:'-3' }}">{{ paginator.num_pages|add:'-3' }}</a></li>
          <li class="page-item"><a class="page-link" href="?{{ q }}&page={{ paginator.num_pages|add:'-2' }}">{{ paginator.num_pages|add:'-2' }}</a></li>
          <li class="page-item"><a class="page-link" href="?{{ q }}&page={{ paginator.num_pages|add:'-1' }}">{{ paginator.num_pages|add:'-1' }}</a></li>
        {% else %}
          {# show: 1 << current-1|current|current+1 >> last #}
          <li class="page-item"><a class="page-link">&laquo;</a></li>
          <li class="page-item"><a class="page-link" href="?{{ q }}&page={{ page_obj.number|add:'-1' }}">{{ page_obj.number|add:'-1' }}</a></li>
          <li class="page-item"><a class="page-link" href="?{{ q }}&page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
          <li class="page-item"><a class="page-link" href="?{{ q }}&page={{ page_obj.number|add:'+1' }}">{{ page_obj.number|add:'+1' }}</a></li>
          <li class="page-item"><a class="page-link">&raquo;</a></li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="{{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
      </ul>
    </nav>
  {% endif %}
</div>
